{% extends "layout.html" %}

{% block content %}

{% import "_macros.html" as macros %}
<form method="post">
    {{macros.datos("x1","Ingrese el primer número (x1)","number")}}
    {{macros.datos("y1","Ingrese el segundo número (y1)","number")}}
    {{macros.datos("x2","Ingrese el tercer número (x2)","number")}}
    {{macros.datos("y2","Ingrese el cuarto número (y2)","number")}}
    <button type="submit" class="btn btn-primary">Calcular</button>

</form>

<h1>
    La distancia de {{x1}},{{y1}} + {{x2}},{{y2}} = {{"%.2f"|format(res)}}
</h1>
{% endblock %}